[
  {
    "name"     : "${name}",
    "image"    : "${image}",
    "cpu"      : ${cpu},
    "memory"   : ${memory},
    "essential": true,
    "portMappings": [{
        "containerPort" : ${containerPort},
        "Protocol"      :  "${portMappingsProtocol}"
    }],
    "logConfiguration": {
      "logDriver": "awslogs",
      "options": {
        "awslogs-group"         : "payment-api-dev-cloudwatch-log-group",
        "awslogs-region"        : "${awsRegion}",
        "awslogs-stream-prefix" : "payment-apis"
      }
    }
  }
]
