[
  {
    "name"     : "${name}",
    "image"    : "${image}",
    "cpu"      : ${cpu},
    "memory"   : ${memory},
    "essential": true,
    "portMappings": [{
        "containerPort" : ${containerPort},
        "Protocol"      : "${protocol}"
    }],
    "logConfiguration": {
      "logDriver": "awslogs",
      "options": {
        "awslogs-group"         : "payment-api-dev-cloudwatch-log-group",
        "awslogs-region"        : "${awsRegion}",
        "awslogs-stream-prefix" : "payment-apis"
      }
    },
    "environment": [
      { "name" : "DB_USER", "value" : "${dbUser}" },
      { "name" : "DB_PASS", "value" : "${dbPass}" },
      { "name" : "DB_NAME", "value" : "${dbName}" },
      { "name" : "DB_HOST", "value" : "${dbHost}" },
      { "name" : "DB_PORT", "value" : "${dbPort}" }
    ]
  }
]
